<% if user_signed_in? %>
	<h1>API_KEY : <%= current_user.authentication_token %></h1>
	<% x = 0 %>
	<% for restaurant in Restaurant.all do %>
		<% if restaurant.user.id == current_user.id %>
			<% x = x + 1 %>
		<% end %>
	<% end %>	
	<h1>Vous possédez <%= x %> restaurant(s).</h1>
	<table class="table table-bordered">
		<thead>
	    	<tr>
	      		<th scope="col">ID</th>
	      		<th scope="col">Name</th>
	      		<th scope="col">Address</th>
	    	</tr>
	  	</thead>
		<tbody>
			<% for restaurant in Restaurant.all do %>
				<% if restaurant.user.id == current_user.id %>
					<tr>
		    			<th scope="row"><%= restaurant.id %></th>
		   		 		<th scope="row"><%= restaurant.name %></th>
		   		 		<th scope="row"><%= restaurant.address %></th>
		   		 		<th>
		   		 			<%= link_to "Détails", restaurant_path(restaurant.id), class: "btn btn-success" %>
		   		 		</th>
		   		 	</tr>
		   		 <% end %>
	    	<% end %>
	 	</tbody>
	</table>
<% else %>
	<h2>Pour accéder à ton espace perso, il faut te connecter</h2>
	<%= link_to "Je me connecte", new_user_session_path, class: "btn btn-primary" %>
<% end %>