<% if user_signed_in? %>
	<h1>API_KEY : <%= current_user.authentication_token %></h1>
	<% x = 0 %>
	<% for candidate in Candidate.all do %>
		<% if candidate.user.id == current_user.id %>
			<% x = x + 1 %>
		<% end %>
	<% end %>	
	<h1>Vous possédez <%= x %> candidat(s).</h1>
	<table class="table table-bordered">
		<thead>
	    	<tr>
	      		<th scope="col">ID</th>
	      		<th scope="col">Character</th>
	      		<th scope="col">Culture</th>
	      		<th scope="col">Picture_url</th>
	    	</tr>
	  	</thead>
		<tbody>
			<% for candidate in Candidate.all do %>
				<% if candidate.user.id == current_user.id %>
					<tr>
		    			<th scope="row"><%= candidate.id %></th>
		   		 		<th scope="row"><%= candidate.character %></th>
		   		 		<th scope="row"><%= candidate.culture %></th>
		   		 		<th scope="row"><%= candidate.picture_url %></th>
		   		 		<th>
		   		 			<%= link_to "Détails", candidate_path(candidate.id), class: "btn btn-success" %>
		   		 		</th>
		   		 	</tr>
		   		 <% end %>
	    	<% end %>
	 	</tbody>
	</table>
<% else %>
	<h2>Bienvenue sur mon l'API, tu peux créer des "candidates" qui possèdent 2 strings</h2>
	<h2>Pour accéder à ton espace perso, il faut te connecter</h2>
	<%= link_to "Je me connecte", new_user_session_path, class: "btn btn-primary" %>
<% end %>