<table class="table table-bordered">
	<thead>
		<tr>
	  		<th scope="col">ID</th>
	  		<th scope="col">Name</th>
	  		<th scope="col">Address</th>
		</tr>
	</thead>
	<tbody>
		<% @candidates.each do |candidate| %>
			<% if candidate.user_id == current_user.id %>
				<tr>
					<th scope="row"><%= candidate.id %></th>
				 	<th scope="row"><%= candidate.character %></th>
				 	<th scope="row"><%= candidate.culture %></th>
				 	<th scope="row"><%= candidate.picture_url %></th>
				 	<th><%= link_to "Détails", candidate_path(candidate.id), class: "btn btn-success" %></th>
		 		</tr>
			<% end %>
		<% end %>
	</tbody>
</table>