<h1>Voici les informations précises du restaurant "<%= @restaurant.name %>".</h1>
<h2>Il est situé : <%=  @restaurant.address %>.</h2>
<h2>C'est le : <%= @restaurant.id %> ème restaurant a avoir été créée.</h2>
<% if @restaurant.user_id == current_user.id %>
	<h3>Ce restaurant vous appartient, vous l'avez crée le "<%= @restaurant.created_at.strftime("%d:%m:%Y") %>"</h3>
<% else %>
	<h2>Ce restaurant ne vous appartient pas, Si vous venez de voir cette page, c'est qu'il y a un problème de sécurité sur votre compte, veuillez contacter le support au plus vite : deleglise.quentin@hotmail.fr</h2>
<% end %>

<%= button_to "Retour à la liste", root_path, method: :get, class: "btn btn-secondary" %>